*{
    margin: 0;
    padding: 0;
}
body{
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}
/* navbar */
.container{
    margin: 0 34px;
    padding: 8px;

}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-logo img{
    width: 100px;
    border-radius: 50%;
    border: 5px solid red;
}
.navbar_items{
    display: flex;
    gap: 50px;
    align-items: flex-start;

}
.navbar_item a{
    color: orangered;
    text-decoration: none;
    font-size: 20px;

}
.navbar_item a:hover{
    color: green;
    text-decoration: underline;

}
/* home section */
.home{
   background-image: url('../food11.jpg')  ;
   background-repeat: no-repeat;
 
   background-size: 100% 100%;
  
}

.home-items{
   height: 400px;
   display: flex;
   flex-direction: column;
   padding:50px 200px;
   height: 400px;
   justify-content: center;
   align-items: center;
}
.home-items h1{
    color:white;
    font-size: 3.8rem;
    text-align: center;
}
.home-items p{
    color:white;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 800;
}
.btn{
    padding: 5px 20px;
    margin: 8px;
    background-color:orange;
    color: white;
    border-radius: 12px;
    transition: 0.2s all;
}
.home-items button:hover{
    transform: scale(1.5);
}
/* srvices section */
.services{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#img{
    border-radius: 50%;
  
}
.services-items{
    text-align: center;
}
.services-items h3{
    font-size: 25px;
    margin: 10px;
}
/* menu section */
.menu-items{
    display: flex;
    justify-content: center;
}
.menu-items button:hover{
    transform: scale(1.5);
}

.items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    text-align: center;
  

}
.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease;
}
.item img:hover{
    transform: scale(1.05);
}
.h3{
    padding: 8px;
    font-size: 30px; 
    font-weight: 800;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.order{
    padding: 5px 20px;
    margin: 8px;
    background-color:red;
    color: white;
    border-radius: 12px;
    transition: 0.2s all;

}
.item button:hover{
    transform: scale(1.08);
}

/* @media screen and (max-width:1000px){
    .items{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:768px){
    .items{
        grid-template-columns: repeat(1,1fr);
    }
} */
/* contact section */
.contact{
    background-image: url(./contact.webp);
    background-repeat: no-repeat;
 
    background-size: 100% 100%;
}
.contact h1{
    text-align: center;
    font-size: 70px;
    font-weight: 800;
    padding: 8px;
    


}
.contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    width: 100%;
}
.form-box{
    padding: 8px;
    border: 2px solid #818181;
}
.footer{
    text-align: center;
    padding: 10px;
}